Flask
Flask-Limiter
Flask-SocketIO
Flask-Compress
Flask-Sitemap
Flask-Caching
Flask-Cors
python-dotenv
python-dateutil
pynacl
requests
appwrite
websockets
schedule
tqdm
logging
concurrent-log-handler
